In [1]:
from pyspark.sql import SparkSession, Window
from pyspark import SparkConf

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("Advanced_DF_EX1")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")

# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
# load data
# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")


airbnb_gsc_file_path = 'gs://data_de2024-tristan/listings.csv'
reviews_gsc_file_path = 'gs://data_de2024-tristan/reviews-2.csv'
calendar_gsc_file_path = 'gs://data_de2024-tristan/calendar.csv'

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DateType, LongType
from pyspark.sql.functions import col, max, min, regexp_replace, upper, count, trim, rank, sum, when, avg, year


dataSchema = StructType(
        [StructField("id", LongType(), True),
         StructField("name", StringType(), True),
         StructField("host_id", IntegerType(), True),
         StructField("host_name", StringType(), True),
         StructField("neighbourhood_group", StringType(), True),
         StructField("neighbourhood", StringType(), True),       
         StructField("latitude", FloatType(), True),
         StructField("longitude", FloatType(), True),
         StructField("room_type", StringType(), True),
         StructField("price", FloatType(), True),       
         StructField("minimum_nights", IntegerType(), True),
         StructField("number_of_reviews", IntegerType(), True),
         StructField("last_review", DateType(), True),
         StructField("reviews_per_month", FloatType(), True),       
         StructField("calculated_host_listings_count", IntegerType(), True),
         StructField("availability_365", IntegerType(), True),
         StructField("number_of_reviews_ltm", IntegerType(), True),
         StructField("license", StringType(), True)
         ])

listing_df = spark.read.schema(dataSchema).format("csv").option("header", "true") \
       .load(airbnb_gsc_file_path)\
       .withColumn('borough', upper(col('neighbourhood_group')))

listing_df.printSchema()
listing_df.show(10)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: float (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: date (nullable = true)
 |-- reviews_per_month: float (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- license: string (nullable = true)
 |-- borough: string (nullable = true)

+-------------------+--------------------+---------+--------------+-------------------+------------------+---------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+---------+
|                 id|                name|  host_id|     host_name|neighbourhood_group|     neighbourhood| latitude| longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|license|  borough|
+-------------------+--------------------+---------+--------------+-------------------+------------------+---------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+---------+
|1189243425411300671|       The Grand III| 61391963|Stay With Vibe|          Manhattan|       Murray Hill| 40.75025|-73.977745|Entire home/apt| 58.0|            30|                1| 2024-08-02|             0.86|                           130|             357|                    1|   NULL|MANHATTAN|
| 651593916026998398|Cheerful one bedr...|136812643|         Marah|           Brooklyn|         Flatlands| 40.62476| -73.93556|   Private room| 80.0|            30|                0|       NULL|             NULL|                             1|             365|                    0|   NULL| BROOKLYN|
|             310325|Large Sunny Bedro...|   745069|      Kimberly|          Manhattan|            Harlem| 40.82359| -73.94601|   Private room| 75.0|            30|               31| 2019-09-28|             0.21|                             2|             335|                    0|   NULL|MANHATTAN|
| 572612125615500056|Room by Sunny & B...|358089614|        Joshua|           Brooklyn|       Sunset Park| 40.63952| -74.01484|   Private room| 45.0|            30|                6| 2024-07-30|             0.21|                             2|             336|                    1|   NULL| BROOKLYN|
|1020282701018874374|Trendy Private Be...|483056418|      Kristina|           Brooklyn|Bedford-Stuyvesant|40.678947|-73.943756|   Private room| 47.0|            30|                0|       NULL|             NULL|                            24|             269|                    0|   NULL| BROOKLYN|
| 640443472855597440|Lovely 2 bed/2 ba...| 24278208|          Reah|           Brooklyn|Bedford-Stuyvesant|  40.6874| -73.95497|   Private room|194.0|            30|                0|       NULL|             NULL|                             2|             323|                    0|   NULL| BROOKLYN|
| 725482656106188093|Gorgeous ! Amazin...|  4941291|        Randon|           Brooklyn|Bedford-Stuyvesant| 40.68043| -73.95715|Entire home/apt|400.0|            30|                0|       NULL|             NULL|                             1|             364|                    0|   NULL| BROOKLYN|
| 681730243323738679|Lovely one bedroo...| 45774302|        Julian|           Brooklyn|          Bushwick| 40.69441| -73.92297|   Private room| 79.0|            30|               14| 2023-01-01|             0.56|                             2|              89|                    0|   NULL| BROOKLYN|
|1004979479809147241|Beautiful Room in...|540041298|      Kristina|             Queens|         Ridgewood| 40.70261|-73.904625|   Private room| 45.0|            30|                0|       NULL|             NULL|                             5|             260|                    0|   NULL|   QUEENS|
| 969035784970111373|   StuyvesantHieghts|534575586|        Walter|           Brooklyn|Bedford-Stuyvesant|  40.6836|-73.930336|Entire home/apt|225.0|            30|                5| 2023-10-16|             0.42|                             1|             180|                    5|   NULL| BROOKLYN|
+-------------------+--------------------+---------+--------------+-------------------+------------------+---------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+---------+
only showing top 10 rows

In [3]:
listing_df = listing_df.withColumn('borough', upper(col('neighbourhood_group')))
listing_df = listing_df.drop('last_review', 'reviews_per_month', 'calculated_host_listings_count', 'neighbourhood', 'neighbourhood_group','availability_365', 'number_of_reviews_ltm', 'license')

listing_df.show()

+-------------------+--------------------+---------+--------------------+---------+----------+---------------+-----+--------------+-----------------+---------+
|                 id|                name|  host_id|           host_name| latitude| longitude|      room_type|price|minimum_nights|number_of_reviews|  borough|
+-------------------+--------------------+---------+--------------------+---------+----------+---------------+-----+--------------+-----------------+---------+
|1189243425411300671|       The Grand III| 61391963|      Stay With Vibe| 40.75025|-73.977745|Entire home/apt| 58.0|            30|                1|MANHATTAN|
| 651593916026998398|Cheerful one bedr...|136812643|               Marah| 40.62476| -73.93556|   Private room| 80.0|            30|                0| BROOKLYN|
|             310325|Large Sunny Bedro...|   745069|            Kimberly| 40.82359| -73.94601|   Private room| 75.0|            30|               31|MANHATTAN|
| 572612125615500056|Room by Sunny & B...|358089614|              Joshua| 40.63952| -74.01484|   Private room| 45.0|            30|                6| BROOKLYN|
|1020282701018874374|Trendy Private Be...|483056418|            Kristina|40.678947|-73.943756|   Private room| 47.0|            30|                0| BROOKLYN|
| 640443472855597440|Lovely 2 bed/2 ba...| 24278208|                Reah|  40.6874| -73.95497|   Private room|194.0|            30|                0| BROOKLYN|
| 725482656106188093|Gorgeous ! Amazin...|  4941291|              Randon| 40.68043| -73.95715|Entire home/apt|400.0|            30|                0| BROOKLYN|
| 681730243323738679|Lovely one bedroo...| 45774302|              Julian| 40.69441| -73.92297|   Private room| 79.0|            30|               14| BROOKLYN|
|1004979479809147241|Beautiful Room in...|540041298|            Kristina| 40.70261|-73.904625|   Private room| 45.0|            30|                0|   QUEENS|
| 969035784970111373|   StuyvesantHieghts|534575586|              Walter|  40.6836|-73.930336|Entire home/apt|225.0|            30|                5| BROOKLYN|
| 773237631431486588|     Home sweet home|454700211|                Myaa| 40.67809| -73.93971|   Private room|150.0|            30|                1| BROOKLYN|
| 818099336473939614|1288-3RS New Reno...|162280872|     Urban Furnished| 40.76596| -73.95712|Entire home/apt|191.0|            30|                2|MANHATTAN|
|1097125455525075775|MCM-inspired with...|563069592|The Tillary Hotel...|40.696354| -73.98435|   Private room|295.0|             1|               23| BROOKLYN|
| 760086536368275287|Luxury apt in the...|   736652|             Luciana| 40.71356| -73.94187|Entire home/apt|495.0|            30|                8| BROOKLYN|
|1043748746630664860|Accent chairs, cu...|547422647|         The Wallace| 40.78188| -73.98188|   Private room|602.0|             1|                0|MANHATTAN|
| 814741679869275205|Comfortable and Cozy|339192135|               Nadia| 40.81185| -73.96051|   Private room|149.0|            30|                1|MANHATTAN|
| 762355634788904537|Comfortable bedro...|363171869|             Michael|  40.7024|  -73.9248|   Private room| 56.0|            30|                2| BROOKLYN|
| 978191817244397875|Central Williamsb...| 39448176|               Helen| 40.71296| -73.94806|Entire home/apt|220.0|            30|                0| BROOKLYN|
|            9735931|Private room in s...|  6501582|                Gaia| 40.67656| -73.93325|   Private room| NULL|            30|                9| BROOKLYN|
|            7359313|Luxury Doorman Ap...| 38445572|            Jennifer| 40.74801| -73.97391|   Private room| NULL|            30|                1|MANHATTAN|
+-------------------+--------------------+---------+--------------------+---------+----------+---------------+-----+--------------+-----------------+---------+
only showing top 20 rows

In [4]:
null_counts = listing_df.select(
    *[sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in listing_df.columns]
)
null_counts.show()
listing_df.count()

+---+----+-------+---------+--------+---------+---------+-----+--------------+-----------------+-------+
| id|name|host_id|host_name|latitude|longitude|room_type|price|minimum_nights|number_of_reviews|borough|
+---+----+-------+---------+--------+---------+---------+-----+--------------+-----------------+-------+
|157|  17|    306|      162|     178|      294|      193|14877|           170|              289|    157|
+---+----+-------+---------+--------+---------+---------+-----+--------------+-----------------+-------+

37698

In [5]:
listing_df_cleaned = listing_df.dropna(subset=['id', 'name', 'host_id', 'host_name', 'room_type', 'price','number_of_reviews', 'borough'])
listing_df_cleaned.count()

22680

In [6]:
listing_df_cleaned.show(5)

+-------------------+--------------------+---------+--------------+---------+----------+---------------+-----+--------------+-----------------+---------+
|                 id|                name|  host_id|     host_name| latitude| longitude|      room_type|price|minimum_nights|number_of_reviews|  borough|
+-------------------+--------------------+---------+--------------+---------+----------+---------------+-----+--------------+-----------------+---------+
|1189243425411300671|       The Grand III| 61391963|Stay With Vibe| 40.75025|-73.977745|Entire home/apt| 58.0|            30|                1|MANHATTAN|
| 651593916026998398|Cheerful one bedr...|136812643|         Marah| 40.62476| -73.93556|   Private room| 80.0|            30|                0| BROOKLYN|
|             310325|Large Sunny Bedro...|   745069|      Kimberly| 40.82359| -73.94601|   Private room| 75.0|            30|               31|MANHATTAN|
| 572612125615500056|Room by Sunny & B...|358089614|        Joshua| 40.63952| -74.01484|   Private room| 45.0|            30|                6| BROOKLYN|
|1020282701018874374|Trendy Private Be...|483056418|      Kristina|40.678947|-73.943756|   Private room| 47.0|            30|                0| BROOKLYN|
+-------------------+--------------------+---------+--------------+---------+----------+---------------+-----+--------------+-----------------+---------+
only showing top 5 rows

In [7]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DateType, LongType, BooleanType
from pyspark.sql.functions import col, max, min, regexp_replace, upper, count, trim, rank, sum, when, avg, year


dataSchema = StructType(
        [StructField("listing_id", LongType(), True),
         StructField("date", DateType(), True),
         StructField("available", StringType(), True),
         StructField("price", StringType(), True),
         StructField("adjusted_price", StringType(), True),       
         StructField("minimum_nights", IntegerType(), True),
         StructField("maximum_nights", IntegerType(), True)
         ])

df_calendar = spark.read.schema(dataSchema).format("csv").option("header", "true") \
       .load(calendar_gsc_file_path)


df_calendar.printSchema()
df_calendar.show(10)

root
 |-- listing_id: long (nullable = true)
 |-- date: date (nullable = true)
 |-- available: string (nullable = true)
 |-- price: string (nullable = true)
 |-- adjusted_price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)

+----------+----------+---------+-------+--------------+--------------+--------------+
|listing_id|      date|available|  price|adjusted_price|minimum_nights|maximum_nights|
+----------+----------+---------+-------+--------------+--------------+--------------+
|      2595|2024-09-05|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-06|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-07|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-08|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-09|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-10|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-11|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-12|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-13|        f|$225.00|          NULL|            30|          1125|
|      2595|2024-09-14|        f|$225.00|          NULL|            30|          1125|
+----------+----------+---------+-------+--------------+--------------+--------------+
only showing top 10 rows

In [8]:
df_calendar_cleaned = df_calendar.filter(year(col("date")) == 2025).groupBy("listing_id").agg(
    sum(when(col("available") == "t", 1).otherwise(0)).alias("availability_2025")
)

In [9]:
df_calendar_cleaned.show(10, truncate=False)

+----------+-----------------+
|listing_id|availability_2025|
+----------+-----------------+
|49048     |246              |
|385824    |247              |
|818518    |0                |
|867020    |247              |
|1115381   |0                |
|1617443   |0                |
|1826701   |246              |
|2863589   |0                |
|3156969   |247              |
|5681182   |151              |
+----------+-----------------+
only showing top 10 rows

In [10]:
df_calendar_cleaned.count()

37540

In [11]:
final_df = listing_df_cleaned.join(
    df_calendar_cleaned,
    df_calendar_cleaned["listing_id"] == listing_df_cleaned["id"],
    "inner"
).select(
    listing_df_cleaned["*"],  
    df_calendar_cleaned["availability_2025"]
)

final_df.show(10, truncate=False)

+-------+--------------------------------------------------+--------+----------------+---------+---------+---------------+-----+--------------+-----------------+---------+-----------------+
|id     |name                                              |host_id |host_name       |latitude |longitude|room_type      |price|minimum_nights|number_of_reviews|borough  |availability_2025|
+-------+--------------------------------------------------+--------+----------------+---------+---------+---------------+-----+--------------+-----------------+---------+-----------------+
|49048  |Serene Private Room w own bathroom                |35935   |Angela          |40.6829  |-73.95701|Private room   |95.0 |30            |28               |BROOKLYN |246              |
|385824 |New York City- Riverdale Modern two bedrooms unit |1931205 |Orit            |40.88095 |-73.91701|Entire home/apt|214.0|30            |146              |BRONX    |247              |
|818518 |Manhattan beautiful spacious fire escape room.    |4299040 |Lupi            |40.820316|-73.95405|Private room   |99.0 |30            |85               |MANHATTAN|0                |
|867020 |Nice quiet room on a backyard                     |4363775 |O.              |40.73336 |-73.95815|Private room   |60.0 |31            |12               |BROOKLYN |247              |
|1617443|Great Artistic Studio in Historic Building        |2240143 |Pavel           |40.81609 |-73.94355|Entire home/apt|65.0 |30            |37               |MANHATTAN|0                |
|1826701|Just like home & more in Rm #2                    |6632440 |Emmett          |40.82357 |-73.95484|Private room   |65.0 |30            |10               |MANHATTAN|246              |
|3156969|Surfers' and Beach Goers' Paradise                |16019176|Marek           |40.58493 |-73.81736|Entire home/apt|144.0|30            |346              |QUEENS   |247              |
|5681182|Single Room with Skyline Views                    |13745141|William         |40.7089  |-73.9439 |Private room   |90.0 |30            |0                |BROOKLYN |151              |
|8272327|Quiet Brownstone Parlor Room with Private Bathroom|38465372|Nadege & Charles|40.68801 |-73.99825|Private room   |245.0|3             |105              |BROOKLYN |53               |
|8322478|Designers brownstone in Bed-Stuy                  |5008870 |Mia             |40.68252 |-73.92404|Entire home/apt|149.0|30            |332              |BROOKLYN |151              |
+-------+--------------------------------------------------+--------+----------------+---------+---------+---------------+-----+--------------+-----------------+---------+-----------------+
only showing top 10 rows

In [12]:
null_counts = final_df.select(
    *[sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in final_df.columns]
)
null_counts.show()
listing_df.count()

+---+----+-------+---------+--------+---------+---------+-----+--------------+-----------------+-------+-----------------+
| id|name|host_id|host_name|latitude|longitude|room_type|price|minimum_nights|number_of_reviews|borough|availability_2025|
+---+----+-------+---------+--------+---------+---------+-----+--------------+-----------------+-------+-----------------+
|  0|   0|      0|        0|       0|        0|        0|    0|             0|                0|      0|                0|
+---+----+-------+---------+--------+---------+---------+-----+--------------+-----------------+-------+-----------------+

37698

In [13]:
window_spec_price = Window.partitionBy("borough").orderBy(col("price").desc())
window_spec_availability = Window.partitionBy("borough").orderBy(col("availability_2025").desc())
window_spec_reviews = Window.partitionBy("borough").orderBy(col("number_of_reviews").desc())

df_final = (
    final_df.withColumn("price_rank", rank().over(window_spec_price))
      .withColumn("availability_2025", rank().over(window_spec_availability))
      .withColumn("reviews_rank", rank().over(window_spec_reviews))
)

df_final.show(20)

+--------+--------------------+---------+-----------------+---------+---------+---------------+-----+--------------+-----------------+-------+-----------------+----------+------------+
|      id|                name|  host_id|        host_name| latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|borough|availability_2025|price_rank|reviews_rank|
+--------+--------------------+---------+-----------------+---------+---------+---------------+-----+--------------+-----------------+-------+-----------------+----------+------------+
| 9788114|Beautiful Grand S...|   785524|             Eric| 40.81965|-73.92911|   Private room| 99.0|             1|              524|  BRONX|              762|       387|           1|
|20480983|Spacious Top Floo...|   785524|             Eric| 40.82122|-73.92859|   Private room| 91.0|             1|              396|  BRONX|              762|       445|           2|
|  182177|A PRIVATE FLAT / ...|   873273|Christian & Carla| 40.86502|-73.85496|Entire home/apt|225.0|            60|              347|  BRONX|                1|        90|           3|
|11020169|Luxurious  one be...| 57165692|          Charles| 40.87185|-73.84109|Entire home/apt|120.0|            30|              332|  BRONX|              617|       285|           4|
|30109916|Entire Spacious A...| 22694324|          Gregory| 40.87005|-73.84729|Entire home/apt|100.0|            30|              284|  BRONX|                1|       360|           5|
|11138823|A beautiful Cozy ...| 57885474|         Shully'S| 40.89858|-73.85896|Entire home/apt|103.0|            30|              259|  BRONX|                1|       355|           6|
|23712143|2e chambre pour 1...|161081229|    Ibrahim Maiga| 40.82274|-73.91353|   Private room| 45.0|            30|              250|  BRONX|              477|       789|           7|
|43847085|A Bronx Oasis in ...| 68225611|           Sharon| 40.81977|-73.81576|   Private room| 99.0|            30|              249|  BRONX|                1|       387|           8|
|33907325|NY3182-8 TheBronx...|211136294|           Sharon| 40.83668|-73.83421|   Private room| 62.0|            30|              235|  BRONX|                1|       651|           9|
|20124372|    LOVE MANHATTAN 1|143052745|            Ociel| 40.80991|-73.91957|   Private room| 40.0|            30|              230|  BRONX|              539|       827|          10|
|32801214|NY3182-6 Queen+Tw...|211136294|           Sharon| 40.83668|-73.83421|   Private room| 90.0|            30|              227|  BRONX|              483|       447|          11|
|15576821|Best accommodatio...| 55948559|            Barry| 40.86473|-73.84078|   Private room| 45.0|            30|              226|  BRONX|              762|       789|          12|
| 6066563|Garden House in t...| 19810363|             Eric| 40.81241|-73.85639|Entire home/apt|125.0|            30|              205|  BRONX|              446|       258|          13|
|28462811|Edna'a Private Ro...|214859918|             Edna| 40.82372|-73.92623|   Private room| 85.0|            30|              205|  BRONX|              696|       489|          13|
|40681398|    Home Sweet Home!|315721256|           Rosana| 40.83104|-73.89533|   Private room| 49.0|            30|              195|  BRONX|              539|       769|          15|
| 1278784|Private room minu...|  6959061|            Roque| 40.81341|-73.90544|   Private room| 83.0|            30|              190|  BRONX|              473|       502|          16|
|35996222|Stylish 2 Beds Ro...|270796745|            Sonia|40.867287|-73.85113|   Private room|120.0|             2|              189|  BRONX|              617|       285|          17|
| 9147025|Cozy City Island ...|   403032|            Diane| 40.84637|-73.78857|Entire home/apt|124.0|            30|              188|  BRONX|                1|       279|          18|
|17367187|Private & Separat...| 11196496|          Amílcar|40.829353|-73.92788|   Private room|250.0|            30|              188|  BRONX|              217|        66|          18|
|23597076|Bronx Cozy 1 Bedr...|176279414|           Milton| 40.87157|-73.86017|Entire home/apt|110.0|            30|              186|  BRONX|                1|       323|          20|
+--------+--------------------+---------+-----------------+---------+---------+---------------+-----+--------------+-----------------+-------+-----------------+----------+------------+
only showing top 20 rows

In [ ]:
from google.cloud import bigquery

# Use the Cloud Storage bucket for temporary BigQuery export data used by the connector.
bucket = "de_jads_temp_708179"  # use your bucket 
spark.conf.set('temporaryGcsBucket', bucket)
# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
# Saving the data to BigQuery
df_final.write.format('bigquery') \
  .option('table', 'de2024-435320.assignment_2.airbnb') \
  .mode("overwrite") \
  .save()