In [76]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("Advanced_DF_EX1")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")

# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
# load data
# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")


airbnb_gsc_file_path = 'gs://data_de2024_708179/AB_NYC_2019.csv'

In [77]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DateType
from pyspark.sql.functions import col, max, min, regexp_replace, upper, count, trim, rank, sum, when, avg


dataSchema = StructType(
        [StructField("id", IntegerType(), True),
         StructField("name", StringType(), True),
         StructField("host_id", IntegerType(), True),
         StructField("host_name", StringType(), True),
         StructField("neighbourhood_group", StringType(), True),
         StructField("neighbourhood", StringType(), True),       
         StructField("latitude", FloatType(), True),
         StructField("longitude", FloatType(), True),
         StructField("room_type", StringType(), True),
         StructField("price", IntegerType(), True),       
         StructField("minimum_nights", IntegerType(), True),
         StructField("number_of_reviews", IntegerType(), True),
         StructField("last_review", DateType(), True),
         StructField("reviews_per_month", FloatType(), True),       
         StructField("calculated_host_listings_count", IntegerType(), True),
         StructField("availability_365", IntegerType(), True),
         ])

df.printSchema()
df.show(10)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: date (nullable = true)
 |-- reviews_per_month: float (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- borough: string (nullable = true)

+----+--------------------+-------+-----------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------+
|  id|                name|host_id|  host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|  borough|
+----+--------------------+-------+-----------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------+
|2539|Clean & quiet apt...|   2787|       John|           Brooklyn|        Kensington|40.64749|-73.97237|   Private room|  149|             1|                9| 2018-10-19|             0.21|                             6|             365| BROOKLYN|
|2595|Skylit Midtown Ca...|   2845|   Jennifer|          Manhattan|           Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45| 2019-05-21|             0.38|                             2|             355|MANHATTAN|
|3647|THE VILLAGE OF HA...|   4632|  Elisabeth|          Manhattan|            Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|       NULL|             NULL|                             1|             365|MANHATTAN|
|3831|Cozy Entire Floor...|   4869|LisaRoxanne|           Brooklyn|      Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270| 2019-07-05|             4.64|                             1|             194| BROOKLYN|
|5022|Entire Apt: Spaci...|   7192|      Laura|          Manhattan|       East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9| 2018-11-19|              0.1|                             1|               0|MANHATTAN|
|5099|Large Cozy 1 BR A...|   7322|      Chris|          Manhattan|       Murray Hill|40.74767|  -73.975|Entire home/apt|  200|             3|               74| 2019-06-22|             0.59|                             1|             129|MANHATTAN|
|5121|     BlissArtsSpace!|   7356|      Garon|           Brooklyn|Bedford-Stuyvesant|40.68688|-73.95596|   Private room|   60|            45|               49| 2017-10-05|              0.4|                             1|               0| BROOKLYN|
|5178|Large Furnished R...|   8967|   Shunichi|          Manhattan|    Hell's Kitchen|40.76489|-73.98493|   Private room|   79|             2|              430| 2019-06-24|             3.47|                             1|             220|MANHATTAN|
|5203|Cozy Clean Guest ...|   7490|  MaryEllen|          Manhattan|   Upper West Side|40.80178|-73.96723|   Private room|   79|             2|              118| 2017-07-21|             0.99|                             1|               0|MANHATTAN|
|5238|Cute & Cozy Lower...|   7549|        Ben|          Manhattan|         Chinatown|40.71344|-73.99037|Entire home/apt|  150|             1|              160| 2019-06-09|             1.33|                             4|             188|MANHATTAN|
+----+--------------------+-------+-----------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------+
only showing top 10 rows

In [80]:
df = df.withColumn('borough', upper(col('neighbourhood_group')))
df = df.drop('last_review', 'reviews_per_month', 'calculated_host_listings_count', 'neighbourhood_group')

df.show()

+----+--------------------+-------+----------------+------------------+--------+---------+---------------+-----+--------------+-----------------+----------------+---------+
|  id|                name|host_id|       host_name|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|availability_365|  borough|
+----+--------------------+-------+----------------+------------------+--------+---------+---------------+-----+--------------+-----------------+----------------+---------+
|2539|Clean & quiet apt...|   2787|            John|        Kensington|40.64749|-73.97237|   Private room|  149|             1|                9|             365| BROOKLYN|
|2595|Skylit Midtown Ca...|   2845|        Jennifer|           Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45|             355|MANHATTAN|
|3647|THE VILLAGE OF HA...|   4632|       Elisabeth|            Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|             365|MANHATTAN|
|3831|Cozy Entire Floor...|   4869|     LisaRoxanne|      Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270|             194| BROOKLYN|
|5022|Entire Apt: Spaci...|   7192|           Laura|       East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9|               0|MANHATTAN|
|5099|Large Cozy 1 BR A...|   7322|           Chris|       Murray Hill|40.74767|  -73.975|Entire home/apt|  200|             3|               74|             129|MANHATTAN|
|5121|     BlissArtsSpace!|   7356|           Garon|Bedford-Stuyvesant|40.68688|-73.95596|   Private room|   60|            45|               49|               0| BROOKLYN|
|5178|Large Furnished R...|   8967|        Shunichi|    Hell's Kitchen|40.76489|-73.98493|   Private room|   79|             2|              430|             220|MANHATTAN|
|5203|Cozy Clean Guest ...|   7490|       MaryEllen|   Upper West Side|40.80178|-73.96723|   Private room|   79|             2|              118|               0|MANHATTAN|
|5238|Cute & Cozy Lower...|   7549|             Ben|         Chinatown|40.71344|-73.99037|Entire home/apt|  150|             1|              160|             188|MANHATTAN|
|5295|Beautiful 1br on ...|   7702|            Lena|   Upper West Side|40.80316|-73.96545|Entire home/apt|  135|             5|               53|               6|MANHATTAN|
|5441|Central Manhattan...|   7989|            Kate|    Hell's Kitchen|40.76076|-73.98867|   Private room|   85|             2|              188|              39|MANHATTAN|
|5803|Lovely Room 1, Ga...|   9744|          Laurie|       South Slope|40.66829|-73.98779|   Private room|   89|             4|              167|             314| BROOKLYN|
|6021|Wonderful Guest B...|  11528|         Claudio|   Upper West Side|40.79826|-73.96113|   Private room|   85|             2|              113|             333|MANHATTAN|
|6090|West Village Nest...|  11975|           Alina|      West Village| 40.7353|-74.00525|Entire home/apt|  120|            90|               27|               0|MANHATTAN|
|6848|Only 2 stops to M...|  15991|   Allen & Irina|      Williamsburg|40.70837|-73.95352|Entire home/apt|  140|             2|              148|              46| BROOKLYN|
|7097|Perfect for Your ...|  17571|            Jane|       Fort Greene|40.69169|-73.97185|Entire home/apt|  215|             2|              198|             321| BROOKLYN|
|7322|     Chelsea Perfect|  18946|            Doti|           Chelsea|40.74192|-73.99501|   Private room|  140|             1|              260|              12|MANHATTAN|
|7726|Hip Historic Brow...|  20950|Adam And Charity|     Crown Heights|40.67592|-73.94694|Entire home/apt|   99|             3|               53|              21| BROOKLYN|
|7750|Huge 2 BR Upper E...|  17985|            Sing|       East Harlem|40.79685|-73.94872|Entire home/apt|  190|             7|                0|             249|MANHATTAN|
+----+--------------------+-------+----------------+------------------+--------+---------+---------------+-----+--------------+-----------------+----------------+---------+
only showing top 20 rows

In [82]:
null_counts = df.select(
    *[sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in df.columns]
)
null_counts.show()
df.count()

+---+----+-------+---------+-------------+--------+---------+---------+-----+--------------+-----------------+----------------+-------+
| id|name|host_id|host_name|neighbourhood|latitude|longitude|room_type|price|minimum_nights|number_of_reviews|availability_365|borough|
+---+----+-------+---------+-------------+--------+---------+---------+-----+--------------+-----------------+----------------+-------+
|184|  32|    350|      206|          185|     194|      343|      185|  194|           188|              342|             342|    185|
+---+----+-------+---------+-------------+--------+---------+---------+-----+--------------+-----------------+----------------+-------+

49079

In [85]:
df_cleaned = df.dropna(subset=['id', 'name', 'host_id', 'host_name', 'room_type', 'price','number_of_reviews', 'availability_365', 'borough'])
df_cleaned.count()

48683

In [88]:
df_cleaned.show(5)

+----+--------------------+-------+-----------+-------------+--------+---------+---------------+-----+--------------+-----------------+----------------+---------+
|  id|                name|host_id|  host_name|neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|availability_365|  borough|
+----+--------------------+-------+-----------+-------------+--------+---------+---------------+-----+--------------+-----------------+----------------+---------+
|2539|Clean & quiet apt...|   2787|       John|   Kensington|40.64749|-73.97237|   Private room|  149|             1|                9|             365| BROOKLYN|
|2595|Skylit Midtown Ca...|   2845|   Jennifer|      Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45|             355|MANHATTAN|
|3647|THE VILLAGE OF HA...|   4632|  Elisabeth|       Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|             365|MANHATTAN|
|3831|Cozy Entire Floor...|   4869|LisaRoxanne| Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270|             194| BROOKLYN|
|5022|Entire Apt: Spaci...|   7192|      Laura|  East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9|               0|MANHATTAN|
+----+--------------------+-------+-----------+-------------+--------+---------+---------------+-----+--------------+-----------------+----------------+---------+
only showing top 5 rows

In [92]:
window_spec_price = Window.partitionBy("borough").orderBy(col("price").desc())
window_spec_availability = Window.partitionBy("borough").orderBy(col("availability_365").desc())
window_spec_reviews = Window.partitionBy("borough").orderBy(col("number_of_reviews").desc())

df_final = (
    df_cleaned.withColumn("price_rank", rank().over(window_spec_price))
      .withColumn("availability_rank", rank().over(window_spec_availability))
      .withColumn("reviews_rank", rank().over(window_spec_reviews))
)

df_final.show(20)

+--------+--------------------+--------+--------------+--------------------+--------+---------+---------------+-----+--------------+-----------------+----------------+--------+----------+-----------------+------------+
|      id|                name| host_id|     host_name|       neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|availability_365| borough|price_rank|availability_rank|reviews_rank|
+--------+--------------------+--------+--------------+--------------------+--------+---------+---------------+-----+--------------+-----------------+----------------+--------+----------+-----------------+------------+
| 3474320|Private brownston...|12949460|           Asa|          Park Slope|40.67926|-73.97711|Entire home/apt|  160|             1|              488|             269|BROOKLYN|      3865|             3450|           1|
|  166172|LG Private Room/F...|  792159|         Wanda|            Bushwick|40.70283|-73.92131|   Private room|   60|             3|              480|               0|BROOKLYN|     14645|            12216|           2|
|   26785|Park Slope Green ...|   42273|          Dani|         South Slope|40.66853|-73.98912|Entire home/apt|  120|            30|              467|             192|BROOKLYN|      6810|             4852|           3|
|   31994|Room with En Suit...|  137814|      Waldemar|        Clinton Hill| 40.6873| -73.9634|   Private room|   76|             2|              426|             275|BROOKLYN|     12028|             3316|           4|
|  699472|NYC 1st Shipping ...| 3587751|   Janet-David|        Williamsburg|40.70995|-73.95536|Entire home/apt|  220|             1|              404|             341|BROOKLYN|      1840|             1475|           5|
|  195233|Hospitality on Pr...|  949221|        Dennis|Prospect-Lefferts...|40.65513|-73.95641|   Private room|   43|             1|              401|              43|BROOKLYN|     18325|             9263|           6|
|   76761|Eveland the Place...|  118971|        Evelyn|         South Slope|40.66552|-73.99019|Entire home/apt|  169|             2|              398|             182|BROOKLYN|      3658|             5118|           7|
| 6422875|Brooklyn Creative...|33510832|      Benjamin|  Bedford-Stuyvesant|40.69271|-73.94353|   Private room|   70|             1|              397|              35|BROOKLYN|     12888|             9627|           8|
|  158955|PRIVATE and SUNNY...|  465589|          Amia|        Williamsburg|40.70867|-73.94284|Entire home/apt|  139|             2|              385|             222|BROOKLYN|      5593|             4405|           9|
|12502633|New Apt. in Park ...|  379619|          J. E|             Gowanus|  40.667|-73.99233|Entire home/apt|  100|             1|              378|              48|BROOKLYN|      8309|             9071|          10|
| 1217318|Williamsburg Pent...| 6642777|        Martin|        Williamsburg|40.71024| -73.9517|   Private room|  105|             1|              374|              69|BROOKLYN|      8100|             8243|          11|
| 3798941|Williamsburg Pent...| 6642777|        Martin|        Williamsburg|40.71231|-73.95313|   Private room|  105|             1|              372|              59|BROOKLYN|      8100|             8669|          12|
|   94477|The Vernon On Greene|  478395|         Jason|  Bedford-Stuyvesant|40.69305|-73.93185|Entire home/apt|  175|             2|              370|             204|BROOKLYN|      3251|             4714|          13|
|  713538|Chic Victorian pr...| 3672774|        Alison|        Clinton Hill|40.68341| -73.9606|Entire home/apt|  175|             1|              363|             323|BROOKLYN|      3251|             2064|          14|
| 4192400|Private+Cozy Room...|21751476|         Grace|            Bushwick|40.69233|-73.90579|   Private room|   72|             1|              360|              66|BROOKLYN|     12799|             8371|          15|
|   54158|The Instituteâ€”Hea...|   10889|           Bob|        Williamsburg| 40.7195|-73.95976|Entire home/apt|  249|             2|              358|             164|BROOKLYN|      1519|             5690|          16|
| 4170460|#1 Superhost Spec...|21641206|      Veronica|  Bedford-Stuyvesant| 40.6956|-73.94827|   Private room|   65|             1|              357|             321|BROOKLYN|     13822|             2115|          17|
| 1056185|Sunny+Cozy Double...|  697442|Chris And Zach|       East Flatbush|40.64851|-73.94667|   Private room|   60|             1|              356|              19|BROOKLYN|     14645|            10489|          18|
|   27531|Eveland Private B...|  118971|        Evelyn|         South Slope|40.66831|-73.98604|   Private room|   99|             2|              354|              20|BROOKLYN|      9171|            10415|          19|
| 4282178|A Superhost SALE!...|21641206|      Veronica|  Bedford-Stuyvesant|40.69724|-73.94914|   Private room|   53|             1|              351|               0|BROOKLYN|     16297|            12216|          20|
+--------+--------------------+--------+--------------+--------------------+--------+---------+---------------+-----+--------------+-----------------+----------------+--------+----------+-----------------+------------+
only showing top 20 rows

In [11]:
from google.cloud import bigquery

# Use the Cloud Storage bucket for temporary BigQuery export data used by the connector.
bucket = "de_jads_temp_708179"  # use your bucket 
spark.conf.set('temporaryGcsBucket', bucket)
# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
# Saving the data to BigQuery
df_final.write.format('bigquery') \
  .option('table', 'de2024-435320.assignment_2.airbnb') \
  .mode("overwrite") \
  .save()